<div class="playlist-detail-view">
    <div class="playlist-header">
        <a href="#songs" class="back-button">← Volver</a>
        <img id="playlist-detail-cover" src="/static/covers/default_cover.png" alt="Portada de la Playlist">
        <div class="playlist-info">
            <h2 id="playlist-detail-name">Cargando...</h2>
            <p><span id="playlist-song-count">0</span> canciones</p>
            <button id="play-all-btn" class="primary-btn">Reproducir todo</button>
        </div>
    </div>

    <div id="playlist-songs-container" class="songs-list">
        </div>
</div>
